@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {

    --dark-1: hsl(0, 0%, 100%);
    --dark-2: hsl(0, 0%, 94%);
    --dark-3: hsl(240, 19%, 55%);
    --dark-4: hsl(240, 14%, 42%);
    --light-1: hsl(0, 0%, 0%) ;
    --light-2: hsl(240, 5%, 4%);
    --light-3: hsl(240, 6%, 7%);
    --light-4: hsl(240, 5%, 13%);
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --semi-primary: 347 88% 73%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 16% 96%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4% 89%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 3% 72%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 100% 50%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
  }

  .dark {
    
    --dark-1: hsl(0, 0%, 0%);
    --dark-2: hsl(240, 5%, 4%);
    --dark-3: hsl(240, 6%, 7%);
    --dark-4: hsl(240, 5%, 13%);
    --light-1: hsl(0, 0%, 100%);
    --light-2: hsl(0, 0%, 94%);
    --light-3: hsl(240, 19%, 55%);
    --light-4: hsl(240, 14%, 42%);


    --background: 0 100% 0%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 8% 5%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 346.8 77.2% 49.8%;
  }
}



@layer base {
  * {
    @apply box-border list-none p-0 m-0 scroll-smooth;
  }

  body {
    @apply bg-background text-foreground min-h-screen font-inter;
  }
}

@layer utilities {
  /* TYPOGRAPHY */

  .h1-bold {
    @apply text-[36px] font-bold leading-[140%] tracking-tighter;
  }

  .h1-semibold {
    @apply text-[36px] font-semibold leading-[140%] tracking-tighter;
  }

  .h2-bold {
    @apply text-[30px] font-bold leading-[140%] tracking-tighter;
  }

  .h3-bold {
    @apply text-[24px] font-bold leading-[140%] tracking-tighter;
  }

  .base-semibold {
    @apply text-[16px] font-semibold leading-[140%] tracking-tighter;
  }

  .base-medium {
    @apply text-[16px] font-medium leading-[140%];
  }

  .base-regular {
    @apply text-[16px] font-normal leading-[140%];
  }

  .body-bold {
    @apply text-[18px] font-bold leading-[140%];
  }

  .body-medium {
    @apply text-[18px] font-medium leading-[140%];
  }

  .small-semibold {
    @apply text-[14px] font-semibold leading-[140%] tracking-tighter;
  }

  .small-medium {
    @apply text-[14px] font-medium leading-[140%];
  }

  .small-regular {
    @apply text-[14px] font-normal leading-[140%];
  }

  .subtle-semibold {
    @apply text-[12px] font-semibold leading-[140%];
  }

  .tiny-medium {
    @apply text-[10px] font-medium leading-[140%];
  }

  /* UTILITIES */
  .invert-white {
    @apply invert brightness-0 transition;
  }

  .flex-center {
    @apply flex justify-center items-center;
  }

  .flex-between {
    @apply flex justify-between items-center;
  }

  .flex-start {
    @apply flex justify-start items-center;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
    height: 3px;
    border-radius: 8px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: var(--background);
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #55454c;
    border-radius: 50px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #e772d9;
  }

  .common-container {
    @apply flex flex-col flex-1 items-center gap-10 overflow-scroll py-10 px-5 md:px-8 lg:p-14 custom-scrollbar;
  }

  /* All Users */
  .user-container {
    @apply max-w-5xl flex flex-col items-start w-full gap-6 md:gap-9 ;
  }

  .user-grid {
    @apply w-full grid grid-cols-1 xs:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-3 gap-7 max-w-5xl;
  }

  /* Explore */
  .explore-container {
    @apply flex flex-col flex-1 items-center overflow-scroll py-10 px-5 md:p-14 custom-scrollbar;
  }

  .explore-inner_container {
    @apply max-w-5xl flex flex-col items-center w-full gap-6 md:gap-9;
  }

  .explore-search {
    @apply h-12 bg-secondary border-none placeholder:text-accent focus-visible:ring-0 focus-visible:ring-offset-0 ring-offset-0 !important;
  }

  /* Home */
  .home-container {
    @apply flex flex-col flex-1 items-center gap-10 overflow-scroll py-10 px-5 md:px-8 lg:p-14 custom-scrollbar;
  }

  .home-posts {
    @apply max-w-screen-sm flex flex-col items-center w-full gap-6 md:gap-9;
  }

  .home-creators {
    @apply hidden xl:flex flex-col w-72 2xl:w-465 px-6 py-10 gap-10  overflow-scroll custom-scrollbar;
  }

  /* Post Details */
  .post_details-container {
    @apply flex flex-col flex-1 gap-10 overflow-scroll py-10 px-5 md:p-14 custom-scrollbar items-center;
  }

  .post_details-card {
    @apply bg-secondary w-full max-w-5xl rounded-[30px] flex-col flex lg:flex-row border border-muted xl:rounded-l-[24px];
  }

  .post_details-img {
    @apply h-80 lg:h-[480px] xl:w-[48%] rounded-t-[30px] xl:rounded-l-[24px] xl:rounded-tr-none object-cover p-5 ;
  }

  .post_details-info {
    @apply bg-secondary flex flex-col gap-5 lg:gap-7 flex-1 items-start px-4 py-8 rounded-[30px];
  }

  .post_details-delete_btn {
    @apply p-0 flex gap-3 hover:bg-transparent hover:text-light-1  text-light-1 small-medium lg:base-medium;
  }

  /* Profile */
  .profile-container {
    @apply flex flex-col items-center flex-1 gap-10 overflow-scroll py-10 px-5 md:p-14 custom-scrollbar;
  }

  .profile-inner_container {
    @apply flex items-center md:mb-8 xl:items-start gap-8 flex-col xl:flex-row relative max-w-5xl w-full;
  }

  .profile-tab {
    @apply flex-center gap-3 py-4 w-48 bg-dark-2  transition flex-1 xl:flex-initial;
  }

  /* Saved */
  .saved-container {
    @apply flex flex-col flex-1 items-center gap-10 overflow-scroll py-10 px-5 md:p-14 custom-scrollbar;
  }

  /* Bottom bar */
  .bottom-bar {
    @apply z-50 flex-between w-full fixed bottom-0 rounded-t-[20px]  border-t-2 px-5 border-none backdrop-blur-2xl  md:hidden h-16;
  }

  /* File uploader */
  .file_uploader-img {
    @apply h-80 lg:h-[480px] w-full rounded-[24px] object-cover object-top;
  }

  .file_uploader-label {
    @apply text-muted-foreground text-center small-regular w-full p-4 border-t border-t-muted;
  }

  .file_uploader-box {
    @apply flex-center flex-col  rounded-xl  h-80 lg:h-[512px];
  }

  /* Grid Post List */
  .grid-container {
    @apply w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-1 lg:grid-cols-2 xl:grid-cols-3 gap-7 max-w-5xl;
  }

  .grid-post_link {
    @apply flex rounded-[15px] border border-muted overflow-hidden cursor-pointer w-full h-full;
  }

  .grid-post_user {
    @apply absolute bottom-0 p-5 flex-between w-full bg-gradient-to-t from-muted to-transparent rounded-b-[15px] gap-2 ;
  }

  /* Left sidebar */
  .leftsidebar {
    @apply hidden sticky left-0 top-0 md:flex px-6 py-10 flex-col justify-between min-w-[270px] bg-secondary min-h-screen ;
  }

  .leftsidebar-link {
    @apply rounded-lg base-medium hover:bg-primary transition;
  }

  /* Post Card */
  .post-card {
    @apply bg-secondary rounded-3xl border-muted p-5 lg:p-7 w-full max-w-screen-sm;
  }

  .post-card_img {
    @apply  w-full min-h-96 max-h-[500px] rounded-[15px] object-cover mb-5;
  }

  /* Topbar */
  .topbar {
    @apply sticky top-0 z-50 md:hidden backdrop-blur-2xl   w-full max-h-[5rem] rounded-b-lg;
  }

  /* User card */
  .user-card {
    @apply flex-center flex-col gap-4 border-[.1px] border-muted rounded-[20px] px-5 py-8 bg-secondary;
  }
}

@layer components {
  /* SHADCN COMPONENTS */
  /* Form */
  .shad-form_label {
    @apply text-foreground !important;
  }

  .shad-form_message {
    @apply text-destructive !important;
  }

  .shad-input {
    @apply h-12 bg-secondary border-none focus-visible:ring-1 focus-visible:ring-secondary focus-visible:ring-offset-1 focus-visible:ring-offset-muted  !important;
  }

  .shad-textarea {
    @apply min-h-40 max-h-60 bg-secondary resize-y rounded-xl border-none focus-visible:ring-1 focus-visible:ring-secondary focus-visible:ring-offset-1 focus-visible:ring-offset-muted !important;
}


  /* Button */
  .shad-button_primary {
    @apply bg-semi-primary hover:bg-semi-primary text-light-1 flex gap-2 !important;
  }

  .shad-button_secondary {
    @apply  bg-secondary hover:bg-primary hover:text-white px-5 text-foreground flex gap-2 !important;
  }

  .shad-button_ghost {
    @apply flex gap-4 items-center justify-start hover:bg-transparent hover:text-white !important;
  }
}